@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Poiret+One|Ubuntu");
.buttonWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.button, .gitButton {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 1em;
  padding: 20px;
  background-color: darkorange;
  border: 1px solid darkorange;
  border-radius: 20px;
  width: 190px;
  -webkit-box-shadow: 2px 2px 4px #696969;
          box-shadow: 2px 2px 4px #696969;
  cursor: pointer;
  margin-bottom: 5%;
}

.gitButton {
  font-size: 1em;
  background-color: black;
  background-image: url(../images/github_icon.svg);
  background-size: 90% 90%;
  background-repeat: no-repeat;
  background-position: 75px 4px;
  border: none;
  margin: auto;
  display: block;
  width: 220px;
  height: 80px;
  padding-right: 90px;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
}

.gitButton:hover {
  color: darkorange;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.past-projects {
  width: 95%;
  margin: auto;
  margin-bottom: 5%;
  text-align: center;
}

.displayWrapSpecific {
  margin-top: 3%;
  margin-left: 13%;
  margin-bottom: 1%;
  width: 75%;
}

.siteDisplay {
  width: 30%;
  display: inline-block;
  margin: 20px;
  border: 1px solid lightgrey;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.siteDisplay:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.projectText {
  width: 74.7%;
  margin-left: 13%;
}

.button:hover, .gitButton:hover {
  text-decoration: underline;
}

.button:active, .gitButton:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*code from stackoverflow.com; subindas pm 
https://stackoverflow.com/questions/24238330/button-css-style-not-working-on-ios*/
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

section,
aside {
  float: left;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section img {
  width: 88%;
  border: 1px solid lightgrey;
}

aside img {
  width: 88%;
  height: 100%;
  border: 1px solid lightgrey;
}

section {
  margin-left: 12.2%;
  width: 40%;
}

aside {
  width: 40%;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

.back {
  position: absolute;
  padding: 1%;
  margin-top: 3%;
  margin-left: 14%;
}

/*overlay images*/
#superimposed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}

#superimposed img {
  max-width: 80%;
  width: auto;
  margin: auto;
}

#project_content img:hover {
  cursor: pointer;
}

.contact .pageContent {
  width: 25%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 4%;
}

input[type=text],
select,
textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  display: block;
  width: 100%;
  font-family: Arial;
}

input[type=submit] {
  background-color: darkorange;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  max-width: 100px;
}

.error {
  color: orangered;
  font-size: .8em;
  display: none;
  margin-bottom: -5px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  color: black;
  font-family: Arial;
  height: 100vh;
}

body {
  height: 100%;
  background-color: white;
  margin: 0%;
}

.page-wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.push {
  height: 50px;
}

/*HEADER/HEADINGS & NAV*/
h1 a {
  font-family: Poiret One;
  font-size: 1.2em;
}

h1,
h2,
h3,
h4 {
  font-family: Ubuntu;
}

h3,
h4 {
  text-decoration: underline;
}

h1,
h2 {
  text-align: center;
}

h2 {
  margin-top: 2%;
  color: darkorange;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  text-align: center;
  width: 100%;
  border-top: lightgrey 1px solid;
  border-bottom: lightgrey 1px solid;
}

a {
  color: black;
  text-decoration: none;
  font-family: Ubuntu;
}

.active {
  border-bottom: darkorange 3px solid;
  color: darkorange;
}

.link_external {
  border-bottom: darkorange 2px solid;
}

a:hover {
  color: darkorange;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

nav a {
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 10px 65px;
}

nav a:hover {
  background-color: whitesmoke;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.logoWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  width: 130px;
  margin-top: 2%;
  margin-bottom: -1%;
}

/*FOOTER*/
.about footer {
  margin-top: 0%;
}

footer {
  border-top: lightgrey 1px solid;
  background-color: #2E2E2E;
  display: inline-block;
  width: 100%;
  height: 15%;
}

footer p {
  font-size: 0.8em;
  width: 100%;
  text-align: center;
}

footer p, footer a {
  color: white;
}

footer li {
  list-style-type: none;
  display: inline;
}

.fab {
  font-size: 3rem;
  color: white;
  float: right;
  margin-right: 2%;
  vertical-align: auto;
}

.fa-linkedin {
  color: #2867B2;
}

.fab:hover {
  color: darkorange;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

/*CONTENT/MAIN*/
.prev, .next {
  cursor: pointer;
  font-weight: bold;
  font-size: 2em;
  margin: 1%;
  margin-top: 23%;
}

.carousel {
  width: 60%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homeSiteDisplay {
  width: 100%;
  display: block;
  margin: auto;
  border: 1px solid lightgrey;
  opacity: 1;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.displayImg {
  width: 100%;
  border: 1px solid lightgrey;
  margin: auto;
}

p {
  width: 90%;
  font-family: Ubuntu;
}

.home p {
  margin: auto;
}

p:last-of-type {
  margin-bottom: 5%;
}

footer p:last-of-type {
  margin-bottom: 0%;
}

.textContent, .aboutTextContent {
  width: 45%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.displayWrap {
  width: 100%;
  margin: auto;
}

.about h2 {
  width: 100%;
  margin-left: -44%;
  position: absolute;
}

.about h3 {
  text-align: left;
  margin-bottom: 0%;
}

.about h3:first-of-type {
  text-align: left;
}

.about p:last-of-type {
  margin-bottom: 0%;
}

.aboutImg {
  max-width: 35%;
  margin: auto;
  display: block;
  float: left;
}

.aboutTextContent {
  width: 35%;
  float: left;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 2%;
}

.iconContainer {
  display: block;
  position: relative;
  float: left;
  width: 20%;
  margin-top: 0%;
}

.iconContainer h3 {
  margin-bottom: 5%;
}

.aboutIcons {
  width: 100px;
  height: 100px;
  padding: 5px;
}

@media (max-width: 1340px) {
  .aboutImg {
    max-width: 40%;
  }
}

@media (max-width: 1240px) {
  nav a {
    padding: 10px 50px;
  }
  .carousel {
    width: 70%;
  }
  .displayWrap {
    width: 90%;
    display: block;
    float: none;
  }
  .siteDisplay {
    width: 100%;
    display: block;
    float: none;
    margin: auto;
  }
  .siteDisplay:hover {
    -webkit-transform: none;
    transform: none;
  }
  .textContent, .aboutTextContent {
    width: 70%;
  }
  h2 {
    font-size: 1.4em;
    margin-top: 4%;
    margin-bottom: 3%;
  }
  .about h2 {
    width: 100%;
    position: absolute;
    margin-left: -16%;
    margin-top: -63%;
  }
  .aboutImg {
    float: none;
    max-width: 50%;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .aboutTextContent {
    float: none;
    width: 50%;
    margin: auto;
  }
  .iconContainer {
    float: none;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 50%;
  }
}

@media screen and (max-width: 823px) {
  footer {
    height: 17%;
  }
  .fab {
    margin-right: 5%;
    margin-top: -4%;
  }
}

@media screen and (max-width: 810px) {
  section,
  aside {
    width: 90%;
    display: block;
    float: none;
    padding: 0px;
  }
  section img {
    width: 96%;
  }
  aside img {
    width: 96%;
  }
  section {
    width: 77%;
    margin-top: 3%;
    margin-left: 13%;
    margin-bottom: 3%;
  }
  aside {
    width: 77%;
    margin-top: 3%;
    margin-left: 13%;
    margin-bottom: 3%;
  }
  .contact .pageContent {
    width: 50%;
  }
  .button, .gitButton {
    width: 150px;
    font-size: 0.8em;
  }
  .gitButton {
    width: 211px;
    font-size: 1em;
  }
}

@media screen and (max-width: 750px) {
  nav a {
    padding: 10px 30px;
  }
  .carousel {
    width: 100%;
  }
  .about h2 {
    margin-top: -110%;
    margin-left: -30%;
    font-size: 1.5em;
  }
  .aboutImg {
    margin-top: 0%;
    max-width: 90%;
  }
  .iconContainer {
    width: 90%;
  }
  .iconContainer h3 {
    margin-left: 2%;
  }
  .displayWrap {
    width: 90%;
    display: block;
    float: none;
  }
  .siteDisplay {
    width: 100%;
    display: block;
    float: none;
    margin: 1%;
    margin: auto;
  }
  .textContent, .aboutTextContent {
    width: 87%;
  }
  .back {
    margin-top: 14%;
    margin-left: 12%;
    font-size: 0.9em;
  }
  h3 {
    font-size: 1.2em;
    margin-bottom: 4%;
  }
  section,
  aside {
    padding-top: 3%;
  }
  .button, .gitButton {
    width: 150px;
    font-size: 0.8em;
  }
  .gitButton {
    width: 211px;
    font-size: 1em;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

@media (max-width: 650px) {
  .about h2 {
    margin-top: -122%;
    margin-left: -34%;
  }
  .aboutImg {
    max-width: 100%;
  }
  nav a {
    padding: 10px 30px;
  }
}

@media (max-width: 568px) {
  nav a {
    padding: 10px 12px;
  }
  .button, .gitButton {
    width: 150px;
    font-size: 0.8em;
  }
  .gitButton {
    width: 211px;
    font-size: 1em;
    margin-top: 5%;
  }
}

/*Landscape orientation:*/
@media screen and (max-width: 823px) and (orientation: landscape) {
  footer {
    height: 25%;
  }
  #superimposed img {
    width: 85%;
  }
}

@media screen and (max-width: 667px) and (orientation: landscape) {
  footer {
    height: 25%;
  }
  .fab {
    margin-top: -5%;
  }
}
/*# sourceMappingURL=style.css.map */