
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Poiret+One|Ubuntu');

$highlight: darkorange;
$background: white;
$footer-color: #2E2E2E;

$main-header: Poiret One;
$secondary-font: Ubuntu;